<div class="grid-background"></div>
<div class="native">
  <app-navbar/>
  <div class="main-content-container">
    <div class="w-9 h-full flex justify-content-center align-items-center">
      <div class="w-full h-30rem border-left-3 flex flex-column">
        <div class="w-full flex items-center justify-content-between pl-4 h-6rem">
          <div class="games-title">Bookings</div>
          <input type="text" class="search-bar ml-4 align-self-center" placeholder="Search bookings" />
        </div>

        <!-- bookings-container -->


        <!--        booking container end-->

      </div>
    </div>
  </div>
</div>
